*{
    box-sizing: border-box;
    margin: 0;
}
/* Basic Classes */
.display-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body{
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.active{
    font-weight:bold ;
}
/* Nav Css */
.nav-div{
    margin-top: 1em;
    position: relative;
}
.nav-list ul li{
    list-style-type: none;
    display: inline;
}
.nav-list a{
    text-decoration: none;
    color:rgb(78, 78, 78);
    margin-right: 1em;
    font-size: 14px;
}
/* Nav Css end */

/* Main Css */
.main-container{
    margin-top: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-container img{
    width: 30em;
}
.main-header{
    width: 50%;
}
.main-header h1{
    font-size:44px
}
.main-search{
    margin-top: 5em;
}
.main-search input[type=text]{
    padding: 15px;
    border-radius: 40px;
    width: 20em;
    font-size: 17px;
    border: none;
}
.main-search button{
    padding: 15px;
    border-radius: 28px;
    border: none;
    font-size: 16px;
    background-color:  #2D7989;
    color:white;
    cursor: pointer;
}